*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #C2D0DE;
    /* font-family: 'Mukta', sans-serif; */
}

.navbar ul{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #133C85;
    font-size: 1.5em;
}
.polmed{
  color: #C2D0DE;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}
.navbar li{
    list-style-type: none;
    padding: 0 20px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px 10px;
}
.navbar a {
    text-decoration: none;
    color: #C2D0DE;
}
.logo2{
    flex: 1;
    user-select: none;
    padding: 0;
    margin: 0;
}
.logo2 img{
    width: 80px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.toggle{
    display: none;
    font-size: 1.5em;
    color: #C2D0DE;
}
.toggle:hover{
    color: rgba(8, 209, 193, 0.7);
}
.item:hover a{
    color: rgba(8, 209, 193, 0.7);
}



@media (max-width: 1176px){
    .navbar ul{
        flex-wrap: wrap;
        border-radius: 0 0 20px 20px;
    }
    .toggle{
        display: block;
    }
    .item{
        display: none;
        width: 100%;
        text-align: center;
    }
    .active{
        display: block;
    }
    li:nth-of-type(8){
        padding-bottom: 1em;
    }
}


/*////////////////////// main i footer /////////////////////////*/

main{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-bottom: 5rem;

}
.picture img{
margin-top: 4rem;
 width: 438px;
 height: 488px;
 border-radius: 20px;
 display: flex;
 box-shadow: -18px -18px 4px 2px rgba(8, 209, 193, 0.7);
}
.picture{
    text-align: center;
}
.picture h1{
    margin-top: 1rem;
}
.term{
    display: flex;
    flex-direction: column;
}
h1{
    margin-bottom: 0.5rem;

}
.title{
    color: #133C85;
}
.type{
    text-transform: uppercase;
    color: teal;
    font-size: 2rem;
    margin-bottom: 1rem;
}
hr{
    border-top: 2px solid #133C85;
}
label{
    font-size: 2rem;
    justify-items: center;
    text-align: center;
    margin-bottom: 1rem;
    color: #133C85;
    text-transform: uppercase;
}
select{
    width: 15rem;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    padding: 0.4rem;
    margin-top: 0.5rem;
    font-size: 1rem;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #133C85;
    height: auto;
    margin: 0px;
    padding: 2rem 0 2rem 0;
    text-align: center;
    color: #CBD4C2;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #FFFCFF;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #133C85;
  text-transform: uppercase;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  font-size: 1.25rem;
  height: 2rem;
  width: 8rem;
  text-align: center;
  background-color:#133C85;
}
#header button:hover{
  background-color: #92a1d1;
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
}
#weekdays div {
  width: 100px;
  padding: 10px;
  margin: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 80px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #92a1d1;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  font-family: 'Mukta', sans-serif;
}
.day:hover {
  background-color: #133C85;
}

.day + #currentDay {
  background-color:rgba(8, 209, 193, 0.7);
}
.day + #currentDay:hover {
  background-color:teal;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
  background-color: #C2D0DE !important;
  border: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}
.button{
  display: flex;
  justify-content: flex-end;
}
.button1{
  width: 12rem;
  padding: 0.75rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  font-size: 1.75rem;
  background-color: #133C85;
  color: #C2D0DE;
}
.button1:hover{
  background-color: #92a1d1;
}


@media (max-width: 1326px){
  .polmed{
    font-size: 2rem;
  }
  .logo2 img{
    width: 60px;
}
  .navbar ul{
    font-size: 1.15rem;
}
}

@media (max-width: 1176px){
    .navbar ul{
        flex-wrap: wrap;
        border-radius: 0 0 20px 20px;
    }
    .toggle{
        display: block;
    }
    .item{
        display: none;
        width: 100%;
        text-align: center;
    }
    .active{
        display: block;
    }
    li:nth-of-type(8){
        padding-bottom: 1em;
    }
}

@media (max-width: 768px){
    main{
        margin-top: rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    label{
        margin-top: 1rem;
        font-size: 1.25rem;
    }
    .polmed{
      font-size: 1.75rem;
    }
    .logo2 img{
      width: 50px;
  }
  .picture img{
    margin-top: 0.5rem;
     box-shadow: none;
    }
}
